@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .container {
    @apply flex min-h-screen flex-col items-center justify-between p-10 md:p-24;
  }

  .sectionContainerTitle {
    @apply flex flex-row items-center gap-4 cursor-pointer;
  }
  .horizontalLine {
    @apply w-12 h-[2px] bg-white opacity-50;
    transition: width 0.3s ease;
  }

  .sectionContainerTitle:hover .horizontalLine {
    @apply w-20;
  }

  .activeHorizontalLine {
    @apply w-20 h-[2px] bg-white opacity-100;
  }

  .menuItemText {
    @apply text-small-medium uppercase opacity-40 hover:opacity-80;
  }

  .activeMenuItemText {
    @apply text-small-medium uppercase opacity-100;
  }

  .text-balance {
    text-wrap: balance;
  }

  .socialMediaIcon {
    @apply scale-150 opacity-50 hover:scale-125 hover:opacity-100 cursor-pointer;
  }

  .skillTag {
    @apply text-small-normal py-2 px-4 rounded-[20px] tracking-wider bg-[#ededbe] text-[#000000];
    font-size: 11.5px;
  }

  .seeFullProjectLink {
    @apply flex flex-row gap-4 items-center cursor-pointer hover:underline underline-offset-4 duration-300 transition-all;
  }

  .rightIcon {
    @apply text-gray-400 w-4;
  }

  .seeFullProjectLink:hover .rightIcon {
    @apply translate-x-2 duration-300 transition-all;
  }

  .blogCard:hover .rightIcon {
    @apply opacity-100 translate-x-2 duration-300 transition-all text-white;
  }
}

@layer components {
  thead th {
    text-align: start;
    @apply text-base-medium tracking-wide;
  }

  .tableBody > tr:not(:last-child) {
    @apply border-b-2  border-white border-opacity-5;
  }

  td {
    @apply pt-4 pb-6;
  }
}
